#img-soldier76,
#img-bigdaddyjeff,
#img-ana,
#img-hanzo,
#img-junk,
#img-lucio,
#img-mcree,
#img-rein,
#img-widow,
#img-zen,
#img-tracer,
#img-winston {
    width: 200px;
    height: 250px;
    padding: 10px;
}